spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/emlat?serverTimezone=Asia/Shanghai&useUnicode=ture
    username: emlat
    password: 666emlat666
  mail:
    protocol: smtp
    host: smtp.163.com
    username:  emlat_official@163.com  # 以后创建团队邮箱
    password:  QZCLNCXWSTRAMZAP  # 网易邮箱授权码
    port: 465
    default-encoding: UTF-8 #??
    properties:
      mail:
        debug: true
        smtp:
          ssl:
            enable: true

mybatis:
  configuration:
    map-underscore-to-camel-case: true #????????
  type-handlers-package: com.example.forumBackEnd.mapper.typeHandler